<div class="flex flex-col lg:flex-row bg-black text-white min-h-screen container mx-auto">
    <div class="lg:fixed left-12 px-8 pt-6 xl:pt-12 mx-auto w-full lg:w-auto min-h-screen md:min-h-fit flex md:block">
        <div class="p-8 w-full rounded-3xl border-white border flex flex-col items-center xl:w-[480px] flex-1">
            <h1 class="text-3xl mb-2">Pradyumna Garg</h1>
            <h2 class="text-xl mb-4">Software Developer</h2>
            <div class="h-[200px] w-[200px] xl:h-[280px] xl:w-[280px] rounded-3xl bg-white overflow-hidden">
                <img class="object-cover h-full w-full max-w-[240px] xl:max-w-[300px]" src="assets/pradyumnaGarg.jpg" alt="" srcset="">
            </div>
            <p class="text-2xl mt-10">pradyumnagarg@hotmail.com</p>
            <p class="text-2xl">Based in Ujjain, India</p>
            <p class="text-gray-500 mt-10">© 2023 Pradyumna. All Rights Reserved</p>
            <div class="flex space-x-4 mt-10 flex-1">
                <a target="_blank" href="https://github.com/PradyumnaGarg">
                    <img class="invert h-8 w-8" src="assets/github.png" alt="">
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/pradyumnagarg/">
                    <img class="invert h-8 w-8" src="assets/linkedin.png" alt="">
                </a>
                <a target="_blank" href="https://pradyumnagarg.hashnode.dev/">
                    <img class="h-8 w-8" src="assets/hashnode.png" alt="">
                </a>
                <a target="_blank" href="https://www.instagram.com/pgveteran/">
                    <img class="invert h-8 w-8" src="assets/instagram.png" alt="">
                </a>
            </div>
            
            <a href="mailto:pradumnagarg@hotmail.com" class="px-8 py-2 bg-white text-black mt-10 rounded-full">Let's Connect</a>
        </div>
    </div> 
    <div class="w-full lg:w-2/5 xl:w-1/3"></div>
    <div class="w-full lg:w-3/5 xl:w-2/3 pt-12 pr-12 flex flex-col max-w-4xl ml-0 md:ml-8 pl-8 md:pl-0">
        <section id="home">
            <ng-container *ngTemplateOutlet="chip; context: { $implicit: { title: 'Introduce', icon: homeIcon } }"></ng-container>
            <p class="text-4xl md:text-6xl font-serif mt-12 leading-tight  "> Welcome to My Portfolio - Unleashing the Power of Code</p>
            <p class="text-lg md:text-xl mt-6 leading-normal">I am a passionate and skilled developer who discovered my love for programming during my early days as a rookie developer. Over the years, I have honed my skills and have grown into a reliable professional, entrusted with coaching junior developers, implementing new standards, and finding innovative solutions to tackle complex challenges.</p>
        </section>
        
        <section id="about" class="mt-28">
            <ng-container *ngTemplateOutlet="chip; context: { $implicit: { title: 'About', icon: aboutIcon } }"></ng-container>
            <p class="text-3xl md:text-5xl font-serif mt-12 leading-tight">Every great design begin with an even better story</p>
            <p class="text-lg md:text-xl mt-6 leading-normal">
                With a strong foundation in JavaScript and its associated technologies, including Angular, React, NodeJs, TypeScript, and MongoDB, I have developed a keen understanding of web development. My expertise also extends to hosting and deploying web applications, utilizing platforms such as Heroku, Vercel, CleverCloud, and AWS, where I've worked with EC2 and SES.
            </p>
            <p class="text-lg md:text-xl mt-6 leading-normal">
                Driven by curiosity and a thirst for knowledge, I have recently ventured into the exciting realm of Blockchain technology. My experiences with Hyperledger Fabrics, Bash, Docker, Docker Compose, and Docker Swarm have allowed me to explore the potential of decentralized applications and distributed systems.
            </p>
            <p class="text-lg md:text-xl mt-6 leading-normal">
                Passion fuels my desire to continuously improve and adapt to the ever-evolving world of programming. My ability to collaborate effectively, solve intricate problems, and take ownership of my work makes me a valuable asset to any team. With each new challenge, I embrace the opportunity to unleash the power of code and contribute to shaping the future through technology.
            </p>
        </section>
        
        <section id="education" class="mt-28">
            <ng-container *ngTemplateOutlet="chip; context: { $implicit: { title: 'Resume', icon: educationIcon } }"></ng-container>
            <p class="text-3xl md:text-5xl font-serif mt-12 leading-tight">Education and Experience</p>
            <div class="item mt-10">
                <span class="date text-gray-500 uppercase text-lg">2020 - Present</span>                                    
                <h2 class="text-2xl mt-8">Software Developer</h2>
                <p class="text-gray-500">Brain Inventory</p>
                <h2 class="text-2xl mt-8">Junior Software Developer</h2>
                <p class="text-gray-500">Brain Inventory</p>
            </div>
            <div class="item pb-10 last-item">
                <span class="date text-gray-500 uppercase text-lg">2016 - 2020</span>                                    
                <h2 class="text-2xl mt-8">Bachelor of Engineering, Computer Science</h2>
                <p class="text-gray-500">Mahakal Institute of Technology, Ujjain</p>
            </div>  
        </section>

        <section id="skill" class="mt-28">
            <ng-container *ngTemplateOutlet="chip; context: { $implicit: { title: 'Skills', icon: skillIcon } }"></ng-container>
            <p class="text-3xl md:text-5xl font-serif mt-12 leading-tight">My Advantages</p>
            <div class="grid grid-cols-3 md:grid-cols-5 gap-6 mt-12">
                <div *ngFor="let skill of skills" class="flex flex-col items-center justify-center space-y-2">
                    <div class="flex items-center justify-center rounded-full group" [ngClass]="{'bg-stone-800' : ['ExpressJs'].includes(skill.name)}">
                        <div class="w-[72px] h-[72px] overflow-hidden rounded-xl transition duration-200 object-cover p-2 flex items-center justify-center">
                            <img [src]="'assets/' + skill.logo" class="" alt="" srcset="" width="100">
                        </div>
                    </div>
                    <span class="text-lg">{{skill.name}}</span>
                </div>
            </div>
        </section>

        <section id="blog" class="mt-28">
            <ng-container *ngTemplateOutlet="chip; context: { $implicit: { title: 'Blogs', icon: blogIcon } }"></ng-container>
            <p class="text-3xl md:text-5xl font-serif mt-12 leading-tight">My Recent Blogs</p>
            <div class="grid grid-col-1 md:grid-cols-2 gap-6 mt-12">
                <div *ngFor="let blog of blogList" class="flex-1">
                    <a href="{{blog.url}}" target="_blank" class="h-full border rounded-xl flex flex-col space-y-4 transform hover:scale-105 duration-300">
                        <div class="w-full">
                            <img src="{{blog.image}}" class="rounded-xl" alt="" srcset="">
                        </div>
                        <div class="flex flex-col p-6 space-y-4 flex-1">
                            <h3 class="text-xl flex-1">{{blog.title}}</h3>
                            <p>{{blog.date}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>

        <section id="contact" class="mt-28 min-h-screen py-12">
            <ng-container *ngTemplateOutlet="chip; context: { $implicit: { title: 'Contact', icon: contactIcon } }"></ng-container>
            <p class="text-3xl md:text-5xl font-serif mt-12 leading-tight">Let's Work Together!</p>
            <h3 class="text-lg md:text-2xl mt-8">pradumnagarg@hotmail.com</h3>
            <form class="w-full mt-8">
                <div class="flex p-4 pl-0 flex-col md:flex-row space-y-4 md:space-y-0">
                    <div class="flex flex-col md:w-1/2">
                        <label for="fullname" class="uppercase">Full Name</label>
                        <input type="text" id="fullname" class="bg-transparent text-xl focus:outline-none" placeholder="Your Full Name">
                    </div>
                    <div class="flex flex-col md:w-1/2">
                        <label for="email" class="uppercase">Email</label>
                        <input type="text" id="email" class="bg-transparent text-xl focus:outline-none" placeholder="Your email">
                    </div>
                </div>
                <div class="flex flex-col w-full">
                    <label for="fullname" class="uppercase">Phone (Optional)</label>
                    <input type="text" id="fullname" class="bg-transparent text-xl focus:outline-none" placeholder="Your phone number">
                </div>
                <div class="flex flex-col p-4 pl-0">
                    <label for="message" class="uppercase">Message</label>
                    <textarea name="message" id="message" cols="30" rows="5" class="bg-transparent text-xl focus:outline-none" placeholder="Write your message here..."></textarea>
                </div>
                <button class="bg-white px-8 py-2 text-black rounded-full text-lg">Send Message</button>
            </form>
        </section>
    </div>
</div>

<div id="navbar" class="hidden md:block fixed md:top-1/2 md:right-10 transform md:-translate-y-1/2 bottom-0 md:w-fit w-full">
    <nav class="p-4 md:py-8 py-4 md:rounded-full rounded-t-3xl border flex md:flex-col flex-row md:space-y-6 justify-around md:justify-normal md:space-x-0 space-x-4 md:bg-black bg-white md:text-white text-black">
        <a href="#home">
            <ng-container *ngTemplateOutlet="homeIcon"></ng-container>    
        </a>
        <a href="#about">
            <ng-container *ngTemplateOutlet="aboutIcon"></ng-container>              
        </a>
        <a href="#education">
            <ng-container *ngTemplateOutlet="educationIcon"></ng-container>
        </a>
        <a href="#skill">
            <ng-container *ngTemplateOutlet="skillIcon"></ng-container>  
        </a>
        <a href="#blog">
            <ng-container *ngTemplateOutlet="blogIcon"></ng-container>
        </a>
        <a href="#contact">
            <ng-container *ngTemplateOutlet="contactIcon"></ng-container>            
        </a>
    </nav>
</div>

<ng-template #homeIcon let-c>
    <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="c?.class" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 icon-outline">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="c?.class" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 icon-solid">
        <path d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z" />
        <path d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z" />
    </svg>      
</ng-template>
<ng-template #aboutIcon let-c>
    <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="c?.class" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 icon-outline">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5zm6-10.125a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0zm1.294 6.336a6.721 6.721 0 01-3.17.789 6.721 6.721 0 01-3.168-.789 3.376 3.376 0 016.338 0z" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="c?.class" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 icon-solid">
        <path fill-rule="evenodd" d="M4.5 3.75a3 3 0 00-3 3v10.5a3 3 0 003 3h15a3 3 0 003-3V6.75a3 3 0 00-3-3h-15zm4.125 3a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5zm-3.873 8.703a4.126 4.126 0 017.746 0 .75.75 0 01-.351.92 7.47 7.47 0 01-3.522.877 7.47 7.47 0 01-3.522-.877.75.75 0 01-.351-.92zM15 8.25a.75.75 0 000 1.5h3.75a.75.75 0 000-1.5H15zM14.25 12a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H15a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5h3.75a.75.75 0 000-1.5H15z" clip-rule="evenodd" />
    </svg>      
</ng-template>
<ng-template #educationIcon let-c>
    <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="c?.class" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 icon-outline">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="c?.class" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 icon-solid">
        <path d="M11.7 2.805a.75.75 0 01.6 0A60.65 60.65 0 0122.83 8.72a.75.75 0 01-.231 1.337 49.949 49.949 0 00-9.902 3.912l-.003.002-.34.18a.75.75 0 01-.707 0A50.009 50.009 0 007.5 12.174v-.224c0-.131.067-.248.172-.311a54.614 54.614 0 014.653-2.52.75.75 0 00-.65-1.352 56.129 56.129 0 00-4.78 2.589 1.858 1.858 0 00-.859 1.228 49.803 49.803 0 00-4.634-1.527.75.75 0 01-.231-1.337A60.653 60.653 0 0111.7 2.805z" />
        <path d="M13.06 15.473a48.45 48.45 0 017.666-3.282c.134 1.414.22 2.843.255 4.285a.75.75 0 01-.46.71 47.878 47.878 0 00-8.105 4.342.75.75 0 01-.832 0 47.877 47.877 0 00-8.104-4.342.75.75 0 01-.461-.71c.035-1.442.121-2.87.255-4.286A48.4 48.4 0 016 13.18v1.27a1.5 1.5 0 00-.14 2.508c-.09.38-.222.753-.397 1.11.452.213.901.434 1.346.661a6.729 6.729 0 00.551-1.608 1.5 1.5 0 00.14-2.67v-.645a48.549 48.549 0 013.44 1.668 2.25 2.25 0 002.12 0z" />
        <path d="M4.462 19.462c.42-.419.753-.89 1-1.394.453.213.902.434 1.347.661a6.743 6.743 0 01-1.286 1.794.75.75 0 11-1.06-1.06z" />
    </svg>  
</ng-template>
<ng-template #skillIcon let-c>
    <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="c?.class" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 icon-outline">
        <path stroke-linecap="round" stroke-linejoin="round" d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="c?.class" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 icon-solid">
        <path fill-rule="evenodd" d="M12 6.75a5.25 5.25 0 016.775-5.025.75.75 0 01.313 1.248l-3.32 3.319c.063.475.276.934.641 1.299.365.365.824.578 1.3.64l3.318-3.319a.75.75 0 011.248.313 5.25 5.25 0 01-5.472 6.756c-1.018-.086-1.87.1-2.309.634L7.344 21.3A3.298 3.298 0 112.7 16.657l8.684-7.151c.533-.44.72-1.291.634-2.309A5.342 5.342 0 0112 6.75zM4.117 19.125a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75h-.008a.75.75 0 01-.75-.75v-.008z" clip-rule="evenodd" />
        <path d="M10.076 8.64l-2.201-2.2V4.874a.75.75 0 00-.364-.643l-3.75-2.25a.75.75 0 00-.916.113l-.75.75a.75.75 0 00-.113.916l2.25 3.75a.75.75 0 00.643.364h1.564l2.062 2.062 1.575-1.297z" />
        <path fill-rule="evenodd" d="M12.556 17.329l4.183 4.182a3.375 3.375 0 004.773-4.773l-3.306-3.305a6.803 6.803 0 01-1.53.043c-.394-.034-.682-.006-.867.042a.589.589 0 00-.167.063l-3.086 3.748zm3.414-1.36a.75.75 0 011.06 0l1.875 1.876a.75.75 0 11-1.06 1.06L15.97 17.03a.75.75 0 010-1.06z" clip-rule="evenodd" />
    </svg>  
</ng-template>
<ng-template #blogIcon let-c>
    <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="c?.class" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 icon-outline">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 01-2.25 2.25M16.5 7.5V18a2.25 2.25 0 002.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 002.25 2.25h13.5M6 7.5h3v3H6v-3z" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="c?.class" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 icon-solid">
        <path fill-rule="evenodd" d="M4.125 3C3.089 3 2.25 3.84 2.25 4.875V18a3 3 0 003 3h15a3 3 0 01-3-3V4.875C17.25 3.839 16.41 3 15.375 3H4.125zM12 9.75a.75.75 0 000 1.5h1.5a.75.75 0 000-1.5H12zm-.75-2.25a.75.75 0 01.75-.75h1.5a.75.75 0 010 1.5H12a.75.75 0 01-.75-.75zM6 12.75a.75.75 0 000 1.5h7.5a.75.75 0 000-1.5H6zm-.75 3.75a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5H6a.75.75 0 01-.75-.75zM6 6.75a.75.75 0 00-.75.75v3c0 .414.336.75.75.75h3a.75.75 0 00.75-.75v-3A.75.75 0 009 6.75H6z" clip-rule="evenodd" />
        <path d="M18.75 6.75h1.875c.621 0 1.125.504 1.125 1.125V18a1.5 1.5 0 01-3 0V6.75z" />
    </svg>      
</ng-template>
<ng-template #contactIcon let-c>
    <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="c?.class" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 icon-outline">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="c?.class" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 icon-solid">
        <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z" clip-rule="evenodd" />
    </svg>                
</ng-template>


<ng-template #chip let-d>
    <div class="flex items-center space-x-2 w-fit border border-white rounded-full px-6 py-2">
        <ng-container *ngTemplateOutlet="d.icon; context: { $implicit: { class: 'w-5 h-5' } }"></ng-container>
        <span class="uppercase text-white  text-sm">
            {{d.title}}
        </span>
    </div>
</ng-template>